<div class="container">
	<h2>Temperature Converter</h2>

	<div class="row mb-2">
		<div class="col-3">
			Specify temperature :
			<p-inputNumber [(ngModel)]="tempValue" mode="decimal" [maxFractionDigits]="2" [minFractionDigits]="2" suffix="{{ selectedUnitSuffix }}"></p-inputNumber>
		</div>
		<div class="col-3">
			Select units :
			<p-selectButton [options]="tempUnits" [(ngModel)]="selectedTempUnit" optionLabel="name" optionValue="value" (onOptionClick)="emitSuffix($event)"></p-selectButton>
		</div>
		<div class="col-3">
			<button pButton pRipple type="button" label="Submit" class="p-button-raised" (click)="convertTemp()"></button>
		</div>
		<div class="col-3">
			<button pButton pRipple type="button" label="Clear" class="p-button-raised p-button-secondary" (click)="clearValues()"></button>
		</div>
	</div>
	
	<div class="row mb-2" *ngIf="convertedValue">
		{{ convertedValue }} {{ convertedUnit }}
	</div>
</div>